<?xml version="1.0" encoding="utf-8" ?>
<TimelinerConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Initialized>false</Initialized>
    <Timeline>
        <Start Hour="10" Minute="0" Second="0" />
        <Play>80</Play>
        <Pause>10</Pause>
        <Periods>6</Periods>
    </Timeline>
    <Settings>
        <ResetAfterMidnight>true</ResetAfterMidnight>
        <ShowAfterMidnight>true</ShowAfterMidnight>
    </Settings>
    <Appearance>
        <BarWidth>15</BarWidth>
        <ScreenIndex>1</ScreenIndex>
        <Position>Left</Position>
        <IgnoreTaskbar>true</IgnoreTaskbar>
    </Appearance>
    <Phases>
        <Phase Begin="-1" Color="-7876885">
            <Message Text="Good morning!" Icon="Info" />
        </Phase>
        <Phase Begin="0" Color="-16744448">
            <Message Text="Work started" Icon="Info" />
        </Phase>
        <Phase Begin="75" Color="-256">
            <Message Text="20 min. notice" Icon="Warning" />
        </Phase>
        <Phase Begin="95" Color="-23296">
            <Message Text="5 min. notice" Icon="Warning" />
        </Phase>
        <Phase Begin="100" Color="-65536">
            <Message Text="Work stopped" Icon="Error" />
        </Phase>
    </Phases>
</TimelinerConfig>